<onchain-home *ngIf="!!contractHeader"
  [contractHeader]="contractHeader"
  [blockchain_is_busy]="blockchain_is_busy"
  [blockchain_status]="blockchain_status"
>
   <div
    style="max-width: 800px; width: 90vw; margin: auto"
    
  >
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Smart Contract">
        <p style="text-align: center; font-size: 20px">
          <address-show
            (doFaucetEvent)="doFaucet()"
            (openTransactionEvent)="openTransaction()"
            *ngIf="!!newWallet"
            [balance]="walletBalance"
            [address_to_show]="newWallet.address"
          ></address-show>
        </p>
        <div
          style="
            text-align: center;
            border: 1px solid rgb(47, 213, 255);
            max-width: 1300px;
            margin: 0px 10px;
            padding-bottom: 10px;
          "
        >
          <p style="text-align: center; font-size: 20px">
            <contract-show
              *ngIf="!!contractHeader"
              [balance]="contractBalance"
              [contract]="contractHeader"
            ></contract-show>
          </p>
          <div
            *ngIf="eventsAbiArray.length > 0"
            style="
              text-align: center;
              max-width: 1300px;
              margin: 0px 10p;
              padding-bottom: 10px;
            "
          >
            <h4>Events</h4>
            <div *ngFor="let event of events">
              <p>
                Event:
                <span style="font-weight: bold"
                  >{{ event.name }} {{ event.timeStamp }}</span
                >
              </p>
              <p>{{ event.payload }}</p>
            </div>
            <p style="color: orange" *ngIf="events.length == 0">
              No events so Far
            </p>
          </div>

          <div
            style="
              display: flex;
              justify-content: center;
              max-width: 1300px;
              margin: auto;
            "
          >
            <ng-container #stateContainer></ng-container>
          </div>
          <div
            style="
              display: flex;
              justify-content: center;
              max-width: 1300px;
              margin: auto;
            "
          >
            <ng-container #payableContainer></ng-container>
          </div>
          <div
            style="
              display: flex;
              justify-content: center;
              max-width: 1300px;
              margin: auto;
            "
          >
            <ng-container #inputContainer></ng-container>
          </div>
        </div>
      </mat-tab>
      <mat-tab style="height: fit-content" label="BlockChain">
        <blockchain
          *ngIf="blocks !== undefined"
          [blocks]="blocks"
          (addBlock)="addBlock($event)"
        ></blockchain>
        <br />
        <br />
      </mat-tab>
    </mat-tab-group>
  </div>
  </onchain-home>
