<div *ngIf="blocks.length > 0">
  <div
    style="
      border: 1px solid greenyellow;
      padding: 15px;
      margin: 0 10px;
      position: relative;
      top: 10px;
    "
  >
    <h3 style="width: 100%; margin: unset">
      Current Block, nr: {{ blocks[0].number }}
    </h3>
    <div style="">
      <p style="word-break: break-all">
        <span font-style="bold">HASH:</span>{{ blocks[0].hash }}
      </p>

      <p style="word-break: break-all">
        <span font-style="bold">PrevHASH:</span>{{ blocks[0].parentHash }}
      </p>
      <p>
        <span font-style="bold">Transactions:</span>
      </p>
      <p *ngFor="let transaction of  blocks[0].transactions">
        <span  font-style="bold">TX:</span>{{transaction.hash }}
      </p>
      
    </div>
  </div>
</div>

<div *ngIf="blocks.length > 1">
    <div *ngFor="let block of blocks.slice(1,blocks.length)"
      style="
        border: 1px solid rgb(148, 100, 10);
        padding: 15px;
        margin: 5px 10px;
        position: relative;
        top: 10px;
      "
    >
      <h3 style="width: 100%; margin: unset">
      Block  Nr: {{ block.number }}
      </h3>
      <div style="">
        <p style="word-break: break-all">
          <span font-style="bold">HASH:</span>{{ block.hash }}
        </p>
        <p style="word-break: break-all">
          <span font-style="bold">PrevHASH:</span>{{ block.parentHash }}
        </p>
        <p>
          <span font-style="bold">Transactions:</span>
        </p>
        <p *ngFor="let transaction of  block.transactions ">
          <span  font-style="bold">TX:</span>{{transaction.hash }}
        </p>
        
      </div>
    </div>
  </div>

<div style="text-align: center;margin-top:20px;" *ngIf="show_more_blocks == true">
  <button (click)="addOneBlock()" mat-button>Load 1 more block</button>
</div>

<div *ngIf="blocks.length == 0">
  <p>Waiting for the First Block</p>
</div>
