<div *ngIf="display_blocks.length > 0">
  <div
    style="
      border: 1px solid greenyellow;
      padding: 15px;
      margin: 0 10px;
      position: relative;
      top: 10px;
    "
  >
    <h3 style="width: 100%; margin: unset">
      Current Block, nr: {{ display_blocks[0].number }}
    </h3>
    <div style="padding-top: 15px">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ display_blocks[0].hash }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pre style="text-align: left;">{{ display_blocks[0].display }}</pre>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <h4>Transactions Detail</h4>
        <mat-expansion-panel
          *ngFor="let transaction of display_blocks[0].transactions"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ transaction.hash }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pre style="text-align: left;">{{ transaction.display }}</pre>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<div *ngIf="display_blocks.length > 1">
  <div
    *ngFor="let block of display_blocks.slice(1, display_blocks.length)"
    style="
      border: 1px solid rgb(148, 100, 10);
      padding: 15px;
      margin: 5px 10px;
      position: relative;
      top: 10px;
    "
  >
    <h3 style="width: 100%; margin: unset">Block Nr: {{ block.number }}</h3>
    <div style="padding-top: 15px">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ block.hash }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pre>{{ block.display }}</pre>
        </mat-expansion-panel>
      </mat-accordion>
       <mat-accordion>
        <h4>Transactions Detail</h4>
        <mat-expansion-panel *ngFor="let transaction of block.transactions">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ transaction.hash }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <pre>{{ transaction.display }}</pre>
        </mat-expansion-panel>
      </mat-accordion> 
    </div>
  </div>
</div>

<div
  style="text-align: center; margin-top: 20px"
  *ngIf="show_more_blocks == true"
>
  <button (click)="addOneBlock()" mat-button>Load 1 more block</button>
</div>

<div *ngIf="display_blocks.length == 0">
  <p>Waiting for the First Block</p>
</div>
