

<onchain-home *ngIf="contractHeader !== undefined"
[contractName]="contractHeader.name"
[blockchain_is_busy]="blockchain_is_busy"
>

  <h2>💃💃💃 Your First Smart Contract and DAPP 👏 👏 👏</h2>
  <div style="max-width: 800px;width: 90vw;margin: auto;" *ngIf="loading_contract == 'found'">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Smart Contract">
  
        <p style="text-align: center; font-size: 20px">
          <address-show
            (doFaucetEvent)="doFaucet()"
            (openTransactionEvent)="openTransaction()"
            *ngIf="!!newWallet"
            [balance]="walletBalance"
            [address_to_show]="newWallet.address"
          ></address-show>
        </p>

        <div
          style="
            margin: 20px 10px;
            text-align: center;
            padding: 20px;
            border: 1px solid  rgb(47, 213, 255);;
          "
        >
          <h3 style="margin: 10px;font-weight: 500;">
            <span> DEPLOYER:</span><br />
            <span style="color: darkgreen"> {{ deployer_address }}</span>
          </h3>
          <p style="text-align: center; font-size: 20px;font-weight: 500;">
          <contract-show
            *ngIf="!!contractHeader"
            [balance]="contractBalance"
            [contract]="contractHeader"
          ></contract-show>
          </p>
          <h3 style="margin: 10px;font-weight: 500;">
            <span>  Current Greeting:</span><br />
            <span style="    color: #ff4081;
            font-size: 20px;"> {{  greeting }}</span>
          </h3>
  
          <p style="margin: 10px">
            <input
              style="width: 250px; font-size: 18px; padding: 10px ;"
              [(ngModel)]="greeting_input"
              type="text"
              placeholder="Enter new Greeting"
            />
            <br />
            <button mat-raised-button color="accent"  style="margin:10px;" (click)="changeGreeting()" class="btn_send">Change Greeting</button>
          </p>
        </div>
   


    </mat-tab>
    <mat-tab style="height: fit-content;text-align: left;" label="BlockChain">
      <blockchain [blocks]="blocks" (addBlock)="addBlock($event)" ></blockchain>
      <br />
      <br />
    </mat-tab>
  </mat-tab-group>
</div>
<div *ngIf="loading_contract == 'error'">
  <h2>
    ERROR, check please if a developper node or testnet is available and the
    contract has been compiled and deployed
  </h2>

</div>
</onchain-home>