<onchain-home
  (doFaucetEvent)="doFaucet()"
  *ngIf="contractHeader !== undefined"
  [contractHeader]="contractHeader"
  [blockchain_is_busy]="blockchain_is_busy"
>
  <h2>💃💃💃 Your First Super Fluid dApp👏 👏 👏</h2>
  <div style="max-width: 800px; width: 90vw; margin: auto">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Start a Stream">
        <app-stream></app-stream>

        <div
          style="
            margin: 20px 10px;
            text-align: center;
            padding: 20px;
            border: 1px solid rgb(47, 213, 255); ;
          "
        >
   
      
     
  
  
        </div>
      </mat-tab>
      <mat-tab style="height: fit-content; text-align: left" label="Instant Distribution Agreement">
        <app-ida></app-ida>
        <br />
        <br />
      </mat-tab>
      <mat-tab style="height: fit-content; text-align: left" label="Super App">
        <super-app> </super-app>
        <br />
      </mat-tab>
    </mat-tab-group>
  </div>
  <div *ngIf="loading_contract == 'error'">
    <h2>
      ERROR, check please if a developper node or testnet is available and the
      contract has been compiled and deployed
    </h2>
  </div>
  <!-- </onchain-home> --></onchain-home
>
