<div id="dashboard-main-data" class="sc-ehCJOs epQOzm">
    <div class="sc-nVkyK glXHDA" style="height: 360px; flex-grow: 1;">
        <div class="Title_wrapper__1M0ZE">
            <h1 class="Title_h4__2Vakp Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                data-cy="your_balance_in">Contract Liquidity in USD</h1>
        </div>
        <div class="Title_wrapper__1M0ZE">
            <h1 class="Title_h1__3XnJ3 Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                data-cy="total_balance" style="font-variant-numeric: tabular-nums;">
                <div class="sc-fbyfCU eXneDc">$<span class="sc-gsNilK fWhdln">{{balanceZeroDec}}</span><span
                        class="sc-GEbAx hRzVdO">.</span><span class="sc-bXTejn glsbck">{{twoDec}}</span><span
                        class="sc-eGRUor edJfyB">{{fourDec}}</span></div>
            </h1>
        </div>
        <div class="sc-ctqQKy cnURre" style="display: flex;">
            <div color="#000000" class="sc-dFtzxp cmkznv">
                <div class="sc-brSvTw hmCvOk"><span style="z-index: 1;">
                        <p> | NaN% | 0.00</p>
                    </span></div>
            </div>
            <div width="100" color="#F5AC37" class="sc-dFtzxp bPEkqj">
                <div class="sc-brSvTw hmCvOk"><span style="z-index: 1;">
                        <p>DAIx | 100% | 1000.94</p>
                    </span></div>
            </div>
        </div>
        <div class="Card_wrapper__Q4Y0q" style="height: auto; position: relative; margin-top: 12px; display: block;">
            <div id="balanceInfo" class="sc-fHeRUh WpAFE">
                <div color="#F5AC37" class="sc-hAcGzb hafBMv">
                    <div data-cy="balances-currency-icon" class="sc-ilfuhL sc-eGPXGI jeclXO krhdVj"><img
                            src="https://assets.superfluid.finance/tokens/dai/icon.svg" alt="daix-img"
                            style="width: 24px; height: 24px; opacity: 1;"></div>
                    <div class="Title_wrapper__1M0ZE" style="margin: 0px; width: max-content;">
                        <h1 class="Title_h5__19dLf Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                            data-cy="balances-currency-name">DAIx</h1>
                    </div>
                    <div class="sc-bilyIR gkdEmo"><span class="sc-XxNYO eTDsSE">
                            <div class="Title_wrapper__1M0ZE">
                                <h1 class="Title_h5__19dLf Title_medium__zzETA Title_right__ToG9D Title_default__1PPrv"
                                    data-cy="balances-DAIx-value" style="font-variant-numeric: tabular-nums;">${{balanceZeroDec}}.{{twoDec}}
                                </h1>
                            </div>
                        </span></div>
                    <div class="sc-xiLah boIBcQ">
                        <div class="Card_wrapper__Q4Y0q Card_card4__3GdIY"
                            style="padding: 32px; width: 334px; height: auto;">
                            <div class="sc-dVNjXY etuUsH">
                                <div class="Title_wrapper__1M0ZE">
                                    <h1
                                        class="Title_h4__2Vakp Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv">
                                        Your DAIx balance in <span style="color: rgb(16, 187, 52);">USD</span></h1>
                                </div>
                                <div class="sc-jHkVzv jHSdmZ">
                                    <div class="Title_wrapper__1M0ZE">
                                        <h1 class="Title_h2__DJAA2 Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                                            style="font-variant-numeric: tabular-nums;">${{balanceZeroDec}}.{{twoDec}}</h1>
                                    </div>
                                    <div class="sc-ilfuhL sc-eGPXGI jeclXO krhdVj" style="margin-left: 8px;"><img
                                            src="https://assets.superfluid.finance/tokens/dai/icon.svg" alt="daix-img"
                                            style="width: 24px; height: 24px; opacity: 1;"></div>
                                </div>
                            </div>
                            <div class="sc-ksHpcM hkPZIR">
                                <div class="sc-jlsrNB gRWsMH"><span class="sc-iWBNLc kiYvKG">
                                        <div class="Title_wrapper__1M0ZE">
                                            <h1 class="Title_h4__2Vakp Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                                                data-cy="monthly_net_message">Monthly net flow in <span
                                                    style="color: rgb(16, 187, 52);">USD</span></h1>
                                        </div>
                                    </span><span class="sc-edERGn iBCyTO">
                                        <div class="Title_wrapper__1M0ZE">
                                            <h1
                                                class="Title_h2__DJAA2 Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv">
                                                <div class="sc-jvvksu jcGDKI"><span data-cy="total_flow_rate"
                                                        style="font-variant-numeric: tabular-nums;">${{monthlyInflow}} </span><span></span>
                                                </div>
                                            </h1>
                                        </div>
                                    </span></div>
                                <div class="sc-kHxTfl evtMrq">
                                    <div class="Title_wrapper__1M0ZE">
                                        <h1
                                            class="Title_h4__2Vakp Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv">
                                            Streaming in &amp; out</h1>
                                    </div>
                                    <div class="sc-cVAmsi cJcRNl"><span class="sc-dkqQuH iSZbrz">
                                            <div class="Title_wrapper__1M0ZE">
                                                <h1 class="Title_h5__19dLf Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                                                    data-cy="total_incomming"
                                                    style="font-variant-numeric: tabular-nums;">+${{monthlyInflow}}</h1>
                                            </div>
                                        </span><span class="sc-eicpiI bkdREN">
                                            <div class="Title_wrapper__1M0ZE">
                                                <h1
                                                    class="Title_small__359S9 Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">
                                                    month</h1>
                                            </div>
                                        </span><span class="sc-ewSTlh kWOzZj"><svg width="24px" height="24px"
                                                viewBox="0 0 24 24">
                                                <g fill="none">
                                                    <path d="M0 0h24v24H0z"></path>
                                                    <path fill="#10BB34" d="m17 14-5-5-5 5z"></path>
                                                </g>
                                            </svg></span></div>
                                    <div class="sc-cVAmsi cJcRNl"><span class="sc-dkqQuH iSZbrz">
                                            <div class="Title_wrapper__1M0ZE">
                                                <h1 class="Title_h5__19dLf Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                                                    data-cy="total_outgoing"
                                                    style="font-variant-numeric: tabular-nums;">-$0.00</h1>
                                            </div>
                                        </span><span class="sc-eicpiI bkdREN">
                                            <div class="Title_wrapper__1M0ZE">
                                                <h1
                                                    class="Title_small__359S9 Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">
                                                    month</h1>
                                            </div>
                                        </span><span class="sc-ewSTlh kWOzZj"><svg xmlns="http://www.w3.org/2000/svg"
                                                width="24px" height="24px" viewBox="0 0 24 24">
                                                <g fill="none">
                                                    <path d="M0 0h24v24H0z"></path>
                                                    <path fill="#F3023B" d="m7 10 5 5 5-5z"></path>
                                                </g>
                                            </svg></span></div>
                                    <div fill="4" class="sc-hJZKUC hCpyUv"></div>
                                    <div fill="4" class="sc-hYQoXb ffwkXP"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="net-flow" class="sc-nVkyK glXHDA" style="flex-grow: 1;">
        <div class="Card_wrapper__Q4Y0q" style="padding: 32px;">
            <div class="sc-ksHpcM hkPZIR">
                <div class="sc-jlsrNB gRWsMH"><span class="sc-iWBNLc kiYvKG">
                        <div class="Title_wrapper__1M0ZE">
                            <h1 class="Title_h4__2Vakp Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                                data-cy="monthly_net_message">Monthly net flow in <span
                                    style="color: rgb(16, 187, 52);">USD</span></h1>
                        </div>
                    </span><span class="sc-edERGn iBCyTO">
                        <div class="Title_wrapper__1M0ZE">
                            <h1 class="Title_h2__DJAA2 Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv">
                                <div class="sc-jvvksu jcGDKI"><span data-cy="total_flow_rate"
                                        style="font-variant-numeric: tabular-nums;">${{monthlyInflow}} </span><span></span></div>
                            </h1>
                        </div>
                    </span></div>

                    <div *ngFor="let members of members"></div>
                <div  *ngIf="false" class="sc-kHxTfl evtMrq">
                    <div class="Title_wrapper__1M0ZE">
                        <h1 class="Title_h4__2Vakp Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv">Streaming
                            in &amp; out</h1>
                    </div>
                    <div class="sc-cVAmsi cJcRNl"><span class="sc-dkqQuH iSZbrz">
                            <div class="Title_wrapper__1M0ZE">
                                <h1 class="Title_h5__19dLf Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                                    data-cy="total_incomming" style="font-variant-numeric: tabular-nums;">+$0.00</h1>
                            </div>
                        </span><span class="sc-eicpiI bkdREN">
                            <div class="Title_wrapper__1M0ZE">
                                <h1 class="Title_small__359S9 Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">
                                    month</h1>
                            </div>
                        </span><span class="sc-ewSTlh kWOzZj"><svg width="24px" height="24px" viewBox="0 0 24 24">
                                <g fill="none">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path fill="#10BB34" d="m17 14-5-5-5 5z"></path>
                                </g>
                            </svg></span></div>
                    <div class="sc-cVAmsi cJcRNl"><span class="sc-dkqQuH iSZbrz">
                            <div class="Title_wrapper__1M0ZE">
                                <h1 class="Title_h5__19dLf Title_medium__zzETA Title_left__S2mjG Title_default__1PPrv"
                                    data-cy="total_outgoing" style="font-variant-numeric: tabular-nums;">-$0.00</h1>
                            </div>
                        </span><span class="sc-eicpiI bkdREN">
                            <div class="Title_wrapper__1M0ZE">
                                <h1 class="Title_small__359S9 Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">
                                    month</h1>
                            </div>
                        </span><span class="sc-ewSTlh kWOzZj"><svg xmlns="http://www.w3.org/2000/svg" width="24px"
                                height="24px" viewBox="0 0 24 24">
                                <g fill="none">
                                    <path d="M0 0h24v24H0z"></path>
                                    <path fill="#F3023B" d="m7 10 5 5 5-5z"></path>
                                </g>
                            </svg></span></div>
                    <div fill="4" class="sc-hJZKUC hCpyUv"></div>
                    <div fill="4" class="sc-hYQoXb ffwkXP"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="welcome-section" class="sc-nVkyK glXHDA" style="flex-grow: 2; display: none;">
        <div data-cy="feedback-container" class="sc-bQtKYq dFIyIu">
            <div class="Card_wrapper__Q4Y0q" style="padding: 24px 32px 32px; display: grid;">
                <div class="sc-jWUzzU jAfBsn">
                    <div class="Title_wrapper__1M0ZE" style="margin: 0px;">
                        <h1 class="Title_massive__3OxGn Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">
                            Welcome <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                                viewBox="0 0 36 36">
                                <path fill="#EF9645"
                                    d="M4.861 9.147c.94-.657 2.357-.531 3.201.166l-.968-1.407c-.779-1.111-.5-2.313.612-3.093 1.112-.777 4.263 1.312 4.263 1.312-.786-1.122-.639-2.544.483-3.331a2.483 2.483 0 0 1 3.456.611l10.42 14.72L25 31l-11.083-4.042L4.25 12.625a2.495 2.495 0 0 1 .611-3.478z">
                                </path>
                                <path fill="#FFDC5D"
                                    d="M2.695 17.336s-1.132-1.65.519-2.781c1.649-1.131 2.78.518 2.78.518l5.251 7.658c.181-.302.379-.6.6-.894L4.557 11.21s-1.131-1.649.519-2.78c1.649-1.131 2.78.518 2.78.518l6.855 9.997c.255-.208.516-.417.785-.622L7.549 6.732s-1.131-1.649.519-2.78c1.649-1.131 2.78.518 2.78.518l7.947 11.589c.292-.179.581-.334.871-.498L12.238 4.729s-1.131-1.649.518-2.78c1.649-1.131 2.78.518 2.78.518l7.854 11.454 1.194 1.742c-4.948 3.394-5.419 9.779-2.592 13.902.565.825 1.39.26 1.39.26-3.393-4.949-2.357-10.51 2.592-13.903L24.515 8.62s-.545-1.924 1.378-2.47c1.924-.545 2.47 1.379 2.47 1.379l1.685 5.004c.668 1.984 1.379 3.961 2.32 5.831 2.657 5.28 1.07 11.842-3.94 15.279-5.465 3.747-12.936 2.354-16.684-3.11L2.695 17.336z">
                                </path>
                                <g fill="#5DADEC">
                                    <path
                                        d="M12 32.042C8 32.042 3.958 28 3.958 24c0-.553-.405-1-.958-1s-1.042.447-1.042 1C1.958 30 6 34.042 12 34.042c.553 0 1-.489 1-1.042s-.447-.958-1-.958z">
                                    </path>
                                    <path
                                        d="M7 34c-3 0-5-2-5-5a1 1 0 1 0-2 0c0 4 3 7 7 7a1 1 0 1 0 0-2zM24 2a1 1 0 0 0 0 2c4 0 8 3.589 8 8a1 1 0 0 0 2 0c0-5.514-4-10-10-10z">
                                    </path>
                                    <path
                                        d="M29 .042c-.552 0-1 .406-1 .958s.448 1.042 1 1.042c3 0 4.958 2.225 4.958 4.958 0 .552.489 1 1.042 1s.958-.448.958-1C35.958 3.163 33 .042 29 .042z">
                                    </path>
                                </g>
                            </svg> <br>This is our open Beta dashboard!</h1>
                    </div>
                    <div class="sc-jlRLRk bUdxkY" style="margin-top: -40px;"><svg xmlns="http://www.w3.org/2000/svg"
                            width="24px" height="24px" viewBox="0 0 24 24">
                            <g fill="none">
                                <path d="M0 0h24v24H0z"></path>
                                <path fill="#12141E"
                                    d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                                </path>
                            </g>
                        </svg>
                        <div class="sc-dUbtfd kqjCzt menu-tooltip">
                            <div class="Tooltip_Wrapper__I_pk0"><span>Hide</span></div>
                        </div>
                    </div>
                </div>
                <div class="sc-FNXRL ddKCIN">
                    <div class="Title_wrapper__1M0ZE">
                        <h1 class="Title_regular__3JAeE Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">Many
                            things are still in the making. Please be patient if it isn’t 100% how you would like, we
                            are working on it.</h1>
                    </div>
                </div>
                <div id="second-part" class="sc-FNXRL ddKCIN">
                    <div class="Title_wrapper__1M0ZE">
                        <h1 class="Title_regular__3JAeE Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">So,
                            enjoy, the house is yours and please let us know how we can do better, fix any bugs and
                            improve the app over time.</h1>
                    </div>
                </div>
                <div>
                    <div class="Button_primary__31rfx Button_positive__2xX4X" data-cy="leave-feedback-button"
                        style="margin-top: 52px;">
                        <div class="Button_inline__3Jt3N">
                            <div class="Button_text_only__1brPk">
                                <div class="Title_wrapper__1M0ZE">
                                    <h1
                                        class="Title_h6__3Rxev Title_medium__zzETA Title_center__2rco2 Title_default__1PPrv">
                                        Leave your feedback</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Card_wrapper__Q4Y0q" style="padding: 24px 32px 32px; display: none;">
                <div class="sc-jWUzzU jAfBsn">
                    <div class="Title_wrapper__1M0ZE">
                        <h1 class="Title_massive__3OxGn Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv"
                            data-cy="feedback-header">Leave a feedback</h1>
                    </div>
                    <div class="sc-jlRLRk bUdxkY"><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px"
                            viewBox="0 0 24 24">
                            <g fill="none">
                                <path d="M0 0h24v24H0z"></path>
                                <path fill="#12141E"
                                    d="M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z">
                                </path>
                            </g>
                        </svg></div>
                </div>
                <div class="sc-fXEqDS gvdBQo">
                    <div class="Title_wrapper__1M0ZE" style="margin-top: 24px;">
                        <h1 class="Title_regular__3JAeE Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">How is
                            it going so far?</h1>
                    </div>
                </div>
                <div class="sc-lkgTHX ieEIzn">
                    <div class="sc-fmBCVi hoYUWV"><svg xmlns="http://www.w3.org/2000/svg" width="32px" height="48px"
                            viewBox="0 0 36 36">
                            <path fill="#FFCC4D"
                                d="M36 18c0 9.941-8.059 18-18 18-9.94 0-18-8.059-18-18C0 8.06 8.06 0 18 0c9.941 0 18 8.06 18 18">
                            </path>
                            <path fill="#664500"
                                d="M17.312 17.612a.501.501 0 0 0-.61-.014c-.012.009-1.26.902-3.702.902-2.441 0-3.69-.893-3.7-.9a.5.5 0 0 0-.757.603c.06.135 1.5 3.297 4.457 3.297 2.958 0 4.397-3.162 4.457-3.297a.498.498 0 0 0-.145-.591zm10 0a.5.5 0 0 0-.61-.014c-.012.009-1.261.902-3.702.902-2.44 0-3.69-.893-3.7-.9a.5.5 0 0 0-.757.603c.06.135 1.5 3.297 4.457 3.297 2.958 0 4.397-3.162 4.457-3.297a.498.498 0 0 0-.145-.591zM22 28h-8a1 1 0 1 1 0-2h8a1 1 0 1 1 0 2zM6 14a1 1 0 0 1-.004-2c.156-.002 3.569-.086 6.205-3.6a1 1 0 0 1 1.6 1.2C10.538 13.95 6.184 14 6 14zm24 0c-.184 0-4.537-.05-7.8-4.4a1 1 0 1 1 1.599-1.2c2.641 3.521 6.061 3.599 6.206 3.6.55.006.994.456.991 1.005A.996.996 0 0 1 30 14z">
                            </path>
                        </svg></div>
                    <div class="sc-fmBCVi hoYUWV"><svg xmlns="http://www.w3.org/2000/svg" width="32px" height="48px"
                            viewBox="0 0 36 36">
                            <path fill="#FFCC4D"
                                d="M36 18c0 9.941-8.059 18-18 18-9.94 0-18-8.059-18-18C0 8.06 8.06 0 18 0c9.941 0 18 8.06 18 18">
                            </path>
                            <ellipse cx="11.5" cy="16.5" fill="#664500" rx="2.5" ry="3.5"></ellipse>
                            <ellipse cx="24.5" cy="16.5" fill="#664500" rx="2.5" ry="3.5"></ellipse>
                            <path fill="#664500" d="M25 26H11a1 1 0 1 1 0-2h14a1 1 0 1 1 0 2z"></path>
                        </svg></div>
                    <div class="sc-fmBCVi hoYUWV"><svg xmlns="http://www.w3.org/2000/svg" width="32px" height="48px"
                            viewBox="0 0 36 36">
                            <circle cx="18" cy="18" r="18" fill="#FFCC4D"></circle>
                            <path fill="#664500"
                                d="M18 21c-3.623 0-6.027-.422-9-1-.679-.131-2 0-2 2 0 4 4.595 9 11 9 6.404 0 11-5 11-9 0-2-1.321-2.132-2-2-2.973.578-5.377 1-9 1z">
                            </path>
                            <path fill="#FFF" d="M9 22s3 1 9 1 9-1 9-1-2 4-9 4-9-4-9-4z"></path>
                            <ellipse cx="12" cy="13.5" fill="#664500" rx="2.5" ry="3.5"></ellipse>
                            <ellipse cx="24" cy="13.5" fill="#664500" rx="2.5" ry="3.5"></ellipse>
                        </svg></div>
                </div>
                <div>
                    <div class="Button_primary__31rfx Button_positive__2xX4X Button_full__2yy6z"
                        style="width: max-content; margin-top: 8px;">
                        <div class="Button_inline__3Jt3N Button_disabled__2xZaw">
                            <div class="Button_text_only__1brPk">
                                <div class="Title_wrapper__1M0ZE">
                                    <h1
                                        class="Title_h6__3Rxev Title_medium__zzETA Title_center__2rco2 Title_default__1PPrv">
                                        Send feedback</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Card_wrapper__Q4Y0q" style="padding: 24px 32px 32px; display: none;">
                <div id="last-one" class="sc-jWUzzU jAfBsn">
                    <div style="max-width: 436px; margin-right: auto;">
                        <div class="Title_wrapper__1M0ZE">
                            <h1 class="Title_massive__3OxGn Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">
                                Thank you for your feedback</h1>
                        </div>
                    </div>
                </div>
                <div class="sc-fXEqDS gvdBQo">
                    <div class="Title_wrapper__1M0ZE" style="margin-top: 24px;">
                        <h1 class="Title_regular__3JAeE Title_body__fA6cP Title_left__S2mjG Title_default__1PPrv">We
                            appreciate your honesty and we will take everything in consideration.</h1>
                    </div>
                </div>
                <div style="margin-top: 38.88px; margin-bottom: 40px; max-width: 436px;"><img
                        src="/static/png/feedback_confirm.svg" alt="confirm" class="sc-eFegNN iJimMh"></div>
                <div>
                    <div class="Button_primary__31rfx Button_ghost__2fVZQ Button_full__2yy6z"
                        style="width: 170px; margin-top: 8px;">
                        <div class="Button_inline__3Jt3N">
                            <div class="Button_text_only__1brPk">
                                <div class="Title_wrapper__1M0ZE">
                                    <h1
                                        class="Title_h6__3Rxev Title_medium__zzETA Title_center__2rco2 Title_default__1PPrv">
                                        Close</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
