<div>
    <div style="margin:32px">
      <span style="margin-right:8px">📝</span>
      This Is Your App Home. You can start editing it in
      <span className="highlight"
        style="margin-left:4px; padding:4px; border-radius:4px; font-weight:bolder"
      >
        packages/react-app/views/Home.jsx
      </span>
    </div>
    <div style="margin:32px">
        <span style="margin-right:8px">🤓</span>
        The "purpose" variable from our contract is'" "'
        <span
          className="highlight"
          style="margin-left:4px; padding:4px; border-radius:4px; font-weight:bolder"
        >
          'purpose'
        </span>
      </div>
      <div style="margin:32px">
        <span style="margin-right:8px">🤖</span>
        An example prop of your balance" "
        <span style="font-weight:bold; color:green">'(ethers.utils.formatEther(yourLocalBalance))'</span> 
        was
        passed into the
        <span
          className="highlight"
          style="margin-left:4px; padding:4px; border-radius:4px; font-weight:bolder"
        >
          Home.jsx
        </span>" "
        component from
        <span
          className="highlight"
          style="margin-left:4px; padding:4px; border-radius:4px; font-weight:bolder"
        >
          App.jsx
        </span>
      </div>
      <div style="margin:32pxpx">
        <span style="margin-right:8pxpx">💭</span>
        Check out the  tab for more tips.
      </div>
      <div style="margin:32pxpx">
        <span style="margin-right:8pxpx">🛠</span>
        Tinker with your smart contract using thetab.
      </div>
</div>