
import { InjectionToken } from '@angular/core';
import { ICONTRACT } from 'angular-web3';
import MinimalContractMetadata from '../assets/contracts/minimal_contract_metadata.json';


export const minimalContractMetadata = new InjectionToken<ICONTRACT>('<%= contractCode %>Metadata')

export const blockchain_providers = [{provide: '<%= contractCode %>Metadata', useValue: MinimalContractMetadata}]



