<onchain-home [contractHeader]="contractHeader" 
[blockchain_status]="blockchain_status"
[blockchain_is_busy]="blockchain_is_busy" [signer]="signer"
(doFaucetEvent)="doFaucet()" (openTransactionEvent)="openTransaction()">


<div *ngIf="!!contractHeader">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="My NFT's">
    </mat-tab>
    <mat-tab label="Download Ipfs">
      <ipfs-download></ipfs-download>
    </mat-tab>
    <mat-tab label="Upload Ipfs">
      <ipfs-upload></ipfs-upload>
    </mat-tab>
    <mat-tab label="Debug Contract">
      <debug-component *ngIf="nftContract && nftContract.contract" [debugContract]="nftContract"></debug-component>
    </mat-tab>

  </mat-tab-group>
  </div>

  <div *ngIf="blockchain_status == 'ethereum-not-connected' || blockchain_status ==  'wallet-not-connected'">
    <!-- <web3-modal></web3-modal>  -->
    <button  type="button" *ngIf="dappInjectorService.webModal?.ready == true"  class="btn btn-outline-success"  (click)="web3modalAction(true)"
  > Sign in with Metamask/Wallet
  </button>
  <div *ngIf="dappInjectorService.webModal?.ready == false" class="loadingspinner"></div>
  
  </div>


</onchain-home>