:host {
    background: green;
}

.content-style{
    background: white;
    color: black;
    border-radius: 4px;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    word-break: break-all;
}